{% extends 'core/base.html' %}

{% load static %}

{% block contenidoQueCambia %}

<div class="container">
    <div class="row centered mt mb">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Javier Marcelo Manuel Sierra</h2>
        <p>Soy Técnico en Computación y hoy me desempeño como SubGerente de unas de las Empresas lideres en el retail Argentino.</p>
        <p>Hoy busco seguir creciendo profesionalmente en el mundo de la informática y la programación ya que considero que la tecnología es un área en la cual debemos seguir explorando sin importar la edad que tengamos.</p>
        <p>Este es mi primer proyecto web de muchos que vendrán como programador en Python bajo el framework Django</p>
      </div>

    </div>
  </div>

{% endblock  %}

